body {
    display: flex;
    flex-direction: column;
    background: url(/img/Wonchi-worqambatour.com-wenchi-6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.border {
    height: 150px;
    transition: filter 1s;
}

.holder {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.sidebar1 {
    border-radius: 10px 5px 5px 10px;
    background-color: #7C5130;
    height: 90%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding-top: 50px;
    padding-left: 50px;
    justify-content: left;
    align-content: center;
    color: white;
    box-shadow: 2px 5px 5px #0000001c;
}


.textele {
    font-family: "montserrat";
    display: flex;
    flex-direction: column;
}

.textele p {
    font-weight: 100;
    border-bottom: 3px white solid;
}


.mainCont {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.mainCont div {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.smIcon {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    gap: 10px;
}

.smIcon img {
    width: 40px;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
}

.smIcon img:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px 3px #fff3bb;
}

@media (max-width: 726px) {
    .holder {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        height: auto;
    }

    .sidebar1 {
        width: 100%;
        padding: 20px;
    }

    .sidebar2 {
        width: 100%;
    }

    .smIcon img {
        width: 20px;
        transition: all 0.3s ease-in-out;
        border-radius: 50%;
    }
}


.sidebar2 {
    border-radius: 5px 10px 10px 5px;
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: right;
    align-content: center;
    box-shadow: 2px 5px 5px #0000001c;
}

form {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_box {
    height: 50px;
    width: 100%;
    margin: 12px 0px;
}

.input_box .username {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.input_box .userContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}


#button {
    float: right;
    margin-top: 10%;
    width: auto;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Montserrat";
    background-color: #7C5130;
    transition: all 0.1s ease-in-out;
}

#button:hover {
    transform: translatey(-3px);
    box-shadow: 0px 2px 5px black;
    border: none;
    color: white;
    background-color: #7C5130;
}

.input_box>input,
.input_box>div>input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px #242424 dashed;
    background-color: none;
    outline: none;
    transition: all 0.1s ease-in-out;
}

.input_box>input,
.input_box>div>input:focus {
    border-bottom: 2px black solid;
}

#message {
    outline: none;
    border: none;
    border-bottom: 1px #242424 dashed;
    transition: all 0.1s;
}

#message:focus {
    border-bottom: 2px black solid;
}

@media (max-width: 768px) {
    .sidebar2 {
        border-radius: 5px 10px 10px 5px;
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px;
        justify-content: right;
        align-content: center;
        box-shadow: 2px 5px 5px #0000001c;
    }

    .input_box .username {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 10%;
    }

    .input_box .userContact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 5%;
    }

}